{{ define "main" }}
<h1>Tags</h1>

<div class="terms-list">
    {{ $data := .Data }}
        {{ range .Data.Terms.ByCount }}
        {{ $termLink := printf "/%s/%s/" $data.Plural .Term | urlize }}
        <a  class="btn-border-tags" href="{{ $termLink }}" title="{{ .Term }}">
            <i style="margin-bottom: 15px;" class="fa fa-tags">
              {{ .Term }}
         </i>
        </a>
    {{ end }}
</div>

<div style="margin-bottom: 60px;">
    {{ range .Data.Terms.ByCount }}
        {{ $termLink := printf "/%s/%s/" $data.Plural .Term | urlize }}
        <ul class="terms-ul">
            <li class="terms-listing-seperator" id="{{ .Term }}">
                <a class="term-link" href="{{ $termLink }}">
                    {{ .Term }}
                    <span class="term-count">{{ .Count }}</span>
                </a>
            </li>
            <ul>
                {{ range .Pages | first 5 }}
                <li class="term-enum">{{ .Date.Format "2006-01-02" }}
                     <a class="term-title" href="{{ .Permalink }}">{{ .Title }}</a>
                </li>
                {{ end }}
                {{ if gt (len .Pages) 5 }}
                    <a href="{{ $termLink }}">……</a>
                {{ end }}
            </ul>
        </ul>
    {{ end }}
</div>
{{ end }}