<section class="post-comments">
    {{ if .Site.Params.comment.disqus }}
      <div id="disqus_thread"></div>
      <script>
      
      var disqus_config = function () {
          this.page.url = "{{ .Permalink }}";
          this.page.identifier = "{{ .Permalink }}";
      };
  
      var disqus_shortname = '{{ .Site.Params.comment.disqus }}';
      
      (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
          })();
      </script>
      <noscript>To view comments from<a href="http://disqus.com/?ref_noscript"> Disqus </a>, please enable JavaScript.</noscript>
      
    {{ else if .Site.Params.comment.duoshuo }}
      <div class="ds-thread" data-thread-key="{{ .Permalink }}" data-title="{{ .Title }}" data-url="{{ .Permalink }}"></div>
      <script type="text/javascript">
          var duoshuoQuery = {short_name:"{{ .Site.Params.comment.duoshuo }}"};
          (function() {
              var ds = document.createElement('script');
              ds.type = 'text/javascript';ds.async = true;
              ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
              ds.charset = 'UTF-8';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
          })();
      </script>
    {{end}}

    {{ if .Site.Params.comment.gitalk.ID }}
    <div id="gitalk-container">
        <script>
            var gitalk = new Gitalk({
                clientID: '{{ .Site.Params.comment.gitalk.ID }}',
                clientSecret: '{{ .Site.Params.comment.gitalk.secret }}',
                repo: '{{ .Site.Params.comment.gitalk.repo }}',
                owner: '{{ .Site.Params.comment.gitalk.owner }}',
                admin: ['{{ .Site.Params.comment.gitalk.owner }}'],
                id: '{{ .Permalink }}',      // Ensure uniqueness and length less than 50
                distractionFreeMode: false  // Facebook-like distraction free mode
              })
              gitalk.render('gitalk-container')
        </script>
    </div>
    {{ end }}
    
  </section>
  