<header class=" {{ if .IsHome }} panel-cover {{ else }} panel-cover panel-cover--collapsed {{ end }}" style="background-image: url('/images/background-cover.jpg')">

    <div class="panel-main">
  
      <div class="panel-main__inner panel-inverted">
      <div class="panel-main__content">
  
          <a href="/#blog" title="Homepage of {{ .Site.Title }} " class="blog-button"><img src="/images/avatar.jpg" width="80" alt="{{ .Site.Title }} logo" class="panel-cover__logo logo" /></a>
          <h1 class="panel-cover__title panel-title"><a href="/#blog" title="Homepage of {{ .Site.Title }}" class="blog-button">{{ .Site.Title }}</a></h1>
          {{ if (.Site.Params.subTitle) }}
          <span class="panel-cover__subtitle panel-subtitle">{{ .Site.Params.subTitle }}</span>
          {{end}}
          <hr class="panel-cover__divider" />
          <p class="panel-cover__description">{{ .Site.Params.description }}</p>
          <hr class="panel-cover__divider panel-cover__divider--secondary" />
          
          {{if ( .Site.Params.welcomeMessage)}}
          <p class="panel-cover__description">{{ .Site.Params.welcomeMessage }}</p>
          {{end}}
          
          <div class="navigation-wrapper">
            <div>
              <nav class="cover-navigation cover-navigation--primary">
                <ul class="navigation">
                  <li class="navigation__item"><a href="/#blog" title="{{ .Site.Params.blogButton.Title }}" class="blog-button">{{ .Site.Params.blogButton.Title }}</a></li>
                  {{ range .Site.Menus.main }}
                    <li class="navigation__item"><a href="{{ .URL }}" target="_blank" title="{{ .Name}}">{{ .Name }}</a></li>
                  {{ end }}
                </ul>
              </nav>
            </div>
            
            <div>{{ partial "social.html" . }}</div>
          </div>
        </div>
      </div>
      
      {{if ( .Site.Params.coverColor)}}
      <div class="panel-cover--overlay cover-{{ .Site.Params.coverColor }}"></div>
      {{else}}
      <div class="panel-cover--overlay cover-disabled"></div>
      {{end}}
    </div>
  </header>
  